

<%= form_with model:@post ,url: "create" do |form| %>

      <div class="container mt-5"> 
           <h2>Add Posts</h2> 
           <p>
             <%= form.label :title %>
             <%= form.text_field(:post_name ,{:class=>'form-control col-4'})%>
           </p>
             
            <p> 
               <%= form.submit({:class =>'btn btn-secondary'}) %>
            </p>
      </div>  

<%end%>

